* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #37517e;
  --info: #0dcaf0;
}
.bg-blue {
  background-color: #37517e;
}

.main-color,
.text-blue {
  color: var(--main-color) !important;
}

.nav-container {
  background-color: var(--main-color) !important;
}

.nav-container a {
  color: white;
}

.dropdown-menu a {
  color: black;
}

.nav-img {
  animation: move 2s ease-in-out infinite alternate-reverse both;
}

.gray {
  width: 20%;
  background-color: lightgrey;
  height: 2px;
  margin: auto;
  position: relative;
  /* margin-bottom: 10%; */
}

.blue {
  position: absolute;
  width: 50%;
  background-color: var(--info);
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-cards,
.work-process-card-image,
.work-process-card-body,
.potfolio-list li {
  transition: 0.3s all;
}

.service-cards:hover {
  transform: translateY(-15px);
}

.work-process-card-image:hover {
  transform: scale(1.1);
}

.work-process-card-body:hover {
  transform: translateY(-15px);
}

.potfolio-list li:hover {
  background-color: #0dcaf0;
  cursor: pointer;
}

@keyframes move {
  from {
    transform: translateY(1);
  }
  to {
    transform: translateY(30px);
  }
}
