* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #37517e;
  --info: #0dcaf0;
}
.bg-blue {
  background-color: #37517e;
}

.main-color,
.text-blue {
  color: var(--main-color) !important;
}

.nav-container {
  background-color: var(--main-color) !important;
}

.nav-container a {
  color: white;
}

.dropdown-menu a {
  color: black;
}

.nav-img {
  animation: move 2s ease-in-out infinite alternate-reverse both;
}

.gray {
  width: 20%;
  background-color: lightgrey;
  height: 2px;
  margin: auto;
  position: relative;
  /* margin-bottom: 10%; */
}

.blue {
  position: absolute;
  width: 50%;
  background-color: var(--info);
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-cards,
.work-process-card-image,
.work-process-card-body,
.potfolio-list li {
  transition: 0.3s all;
}

/* .service-cards:hover {
  transform: translateY(-15px);
} */

.word-process-card {
  overflow: hidden;
}

.word-process-card:hover img {
  scale: 1.2;
}

.word-process-card:hover .work-process-card-body {
  transform: translateY(-8px);
}
/* .work-process-card-image:hover {
  scale: 1.2;
} */

/* .work-process-card-body:hover {
  transform: translateY(-15px);
} */

.call-to-action {
  background: linear-gradient(
      to right,
      rgba(55, 81, 126, 0.6),
      rgba(55, 81, 126, 0.9)
    ),
    url("https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp")
      fixed;
}

.potfolio-list li:hover {
  background-color: #0dcaf0;
  cursor: pointer;
  color: white;
}

.team-gray-line {
  width: 20%;
  background-color: lightgrey;
  height: 1px;
  /* margin-bottom: 10%; */
}

.team-cards {
  transition: all 0.3s;
}

.team-cards:hover {
  transform: translateY(-10px);
}

.bi-twitter-x:hover,
.bi-facebook:hover,
.bi-instagram:hover,
.bi-linkedin:hover {
  color: white !important;
  background-color: #0dcaf0 !important;
}

.buy-now {
  transition: all 0.3s ease;
}

.buy-now:hover {
  background-color: #0dcaf0 !important;
  color: white !important;
}

@keyframes move {
  from {
    transform: translateY(1);
  }
  to {
    transform: translateY(30px);
  }
}
