* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #37517e;
}

.nav-container {
  background-color: var(--main-color);
}

.nav-container a {
  color: white;
}

.dropdown-menu a {
  color: black;
}

.nav-img {
  animation: move 2s ease-in-out infinite alternate-reverse both;
}

@keyframes move {
  from {
    transform: translateY(1);
  }
  to {
    transform: translateY(30px);
  }
}
